.wrapper {
  position: fixed;
  top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  align-items: center;
  z-index: 1000;
  direction: ltr;
}

.wrapper a {
  text-decoration: none;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  font-size: 40.8px;
  color: #050404;
  margin: 0;
  font-weight: 100;
  transition: opacity 0.5s ease-in-out;
  padding-left: 10px;
  padding-top: 20px;
  cursor: pointer;
  font-family: "MyEverything", sans-serif;
  text-decoration: none;
  line-height: 1;
}

.subtitle {
  font-size: 19.2px;
  color: #e0f0ff;
  margin: 0;
  padding-left: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 19px;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2),
    1px -1px 2px rgba(0, 0, 0, 0.2), -1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tagline {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding-left: 10px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin-top: 2px;
  letter-spacing: 0.05em;
}

.headerTitle:hover {
  opacity: 0.8;
}

.fixedMenu {
  position: relative;
  z-index: 1001;
}

.menuButton {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  border-radius: 15px;
}

.menuButton:hover {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
}

.hamburgerIcon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 28px;
}

.hamburgerIcon span {
  width: 100%;
  height: 2.5px;
  background-color: #050404;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.tooltip {
  background: rgba(15, 14, 71, 0.3);
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25),
    inset 0px 0px 0px 0.5px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  padding: 30px;
  position: absolute;
  top: 90px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  width: 200px;
  transition: 0.3s ease-in-out;
  transform: skewY(-5deg) rotate(5deg) translateY(-30px);
}

.tooltip.open {
  opacity: 1;
  visibility: visible;
  transform: skewY(0deg) rotate(0deg) translateY(0px);
}

.menuItem {
  font-size: 19.55px;
  color: #bacced;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  transition: all 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 15px;
  direction: rtl;
}

.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #bad4ee;
}

@media (max-width: 768px) {
  .wrapper {
    top: 20px;
  }

  .headerTitle {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    top: 20px;
    padding: 0 20px;
  }

  .headerTitle {
    font-size: 24px;
  }

  .tooltip {
    right: -10px;
  }
}
