@font-face {
  font-family: "MyEverything";
  src: url("/fonts/MyEverything.ttf") format("truetype"),
    url("/fonts/MyEverything.otf") format("opentype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
}

body {
  background: linear-gradient(180deg, rgb(111, 119, 207) 0%, #dde6fe 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 120px 20px 20px;
}
